html {
    background: url("../assets/gwtp.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 2% 5%;
    background-attachment: fixed;
}

.main {
    border: 2px solid black;
    margin-top: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50vw;
}

.title {
    font-size: 10rem;
}